* {
    font-family: 'Arial Narrow';
    width: 100%;
}

h1{
    width: 85%;
    height: 350px;
    font-size: 140px;
    position: relative;
    bottom: 80px;
    left: 70px;
    z-index: 2;
}
.a1 {
    color: rgb(14, 14, 41);
}

.c,
.b,
.g {
    background-color: rgb(14, 14, 41);
}

.c,
.b,
.e,
.f {
    color: aliceblue;
}

.b{
    position: relative;
    left: 900px;
    bottom: 1750px;
    width: 300px;
    height: 70px;
    font-size: 45px;
    text-align: center;
}

.c{
    z-index: 1;
    padding-right: 5px;
    padding-bottom: 15px;
    width: 540px;
    height: 670px;
    position: relative;
    left: 430px;
    bottom: 830px;
    border: 30px solid ;
    border-radius: 50px
}

.d {
    font-size: 120px;
    position: relative;
    bottom: 128px;
    right: 26px;
    border-bottom: 1px solid;
    padding-left: 42px;
    padding-top: 15px;
    height: 260px;
    width: 450px
}

.e {
    height: 100px;
}

.e1 {
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 30px;
    right: 15px;
}

.e2 {
    font-size: 60px;
    position: relative;
    bottom: 110px;
    right: 30px;
}

.f1 {
    height: 100px;
    width: 120px;
    position: relative;
    left: 25px;
    top: 10px;
}

.f2 {
    font-size: 60px;
    position: relative;
    left: 50px;
    bottom: 25px;
}

.g {
    width: 580px;
    height: 220px;
    border-top-right-radius: 50px;
    font-size: 20px;
    position: relative;
    bottom: 2196px;
}

img[src*='lappyy 1.png'] {
    height: 850px;
    width: 1200px;
    position: relative;
    bottom: 1810px;
    right: 505px;
}

img[src*='iphone pics'] {
    height: 880px;
    width: 550px;
    position: relative;
    left: 780px;
    bottom: 60px;
}

ul li {
    list-style: none;
    position: relative;
    bottom: 240px;
    right: 26px;
    width: 500px;
    font-size: 55px;
    border-radius: 15px;
}

.w {
    font-weight: bold;
    position: relative;
    left: 1030px;
    bottom: 2030px;
    width: 200px;
    height: 50px;
    font-size: 38px;
}

#w {
    font-weight: lighter;
}

.p {
    font-weight: bold;
    position: relative;
    bottom: 2066px;
    left: 10px;
    height: 220px;
    width: 350px;
    font-size: 90px;
    
}
